<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-card>
            <ion-card-header>
              <ion-card-title style="text-align: center;">José Luis Espejo Aguado</ion-card-title>
            </ion-card-header>
            <img class="img" src="assets\images\pro.jpg" />
            
            <ion-card-content>
              <p>Imagina una sinfonía de ceros y unos cobrando vida: soy el arquitecto detrás de ese universo digital. Mi lenguaje nativo no es solo el código, sino la capacidad de transformar ideas en innovación tangible. Con mi teclado como pincel y mi pantalla como lienzo, diseño y desarrollo experiencias digitales que trascienden lo ordinario.</p>
              <br>
              <p>Soy un alquimista moderno, combinando creatividad y lógica para resolver los acertijos del mundo digital. Me sumerjo en el abismo de los algoritmos y emergo con soluciones que desafían los límites convencionales. Mi pasión por el desarrollo de software va más allá de las líneas de código: es una búsqueda constante de la perfección funcional y estética.</p>
              <br>
              <p>Construyo puentes entre la imaginación y la realidad digital, utilizando tecnologías punteras para dar vida a proyectos que impactan y transforman. Mi obsesión por la calidad se refleja en cada aplicación, sitio web o software que desarrollo.</p>
              <br>
              <p>No soy solo un programador, soy un artista digital que moldea el futuro a través de líneas de código, creando una sinfonía tecnológica que redefine lo posible.</p>
              <br>
              <p>
                <ion-icon name="mail"></ion-icon>
                <a href="mailto:tu-email@example.com">jlespejoaguado4&#64;gmail.com</a>
              </p>
              <p>
                <ion-icon name="logo-linkedin"></ion-icon>
                <a href="https://www.linkedin.com/in/tu-usuario/">LinkedIn</a>
              </p>
              <p>
                <ion-icon name="logo-instagram"></ion-icon>
                <a href="https://www.instagram.com/tu-usuario/">Instagram</a>
              </p>
              <p>
                <ion-icon name="logo-facebook"></ion-icon>
                <a href="https://www.facebook.com/tu-usuario/">Facebook</a>
              </p>
            </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>